@charset "utf-8";
/*
   New Perspectives on HTML5 and CSS3, 7th Edition
   Tutorial 5
   Case Problem 1
   
          Author: Jose Felix
          Date:   11.28.18
   
   Filename: gp_print.css

   This file contains the printer styles used with the sample
   comic book pages from Golden Pulps.

*/



/* Hidden Objects */
/* THis is just so that I have all these objects hidden in the print version of the code. */
nav, footer, article {
    display: none;
}





/* Comic Book Sheet Styles */
/* I understand that I could have done this short hand but I separated them anyways. The shorthand would make it faster but I already typed it out. The id of sheet is affected and I change the width and margins as appropriate. */
section#sheet {
    width: 6in;
    margin-top: 0in;
    margin-bottom: 0in;
    margin-left: auto;
    margin-right: auto;
}
/* These are to call the classes that are panel size and even though it has a space, I can use the last full word to select it correctly. */
.size1 {
    width: 5in;
}
.size2 {
    width: 3in;
}
.size3 {
    width: 2in;
}
.size4 {
    width: 1.5in;
}